





body {
  background-color: lightblue;
}

body {
  position: absolute;
  width:99%;
  text-align: center;
  font-size: 20px;
}


.post {

  overflow-wrap: break-word;   /* modern equivalent */
  white-space: normal;  
  margin: auto;
  width: 50%;
  border: solid;
  position: relative;
  margin-bottom: 2%;
}


.button2 {
    position: absolute;
    right: 0%;
    margin: 0.5%;
    background-color: #a6d1eb;
}

.button1 {
    position: absolute;
    right: 6%;
    margin: 0.5%;
    background-color: #a6d1eb;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
a{
  color: black;
}
.button1:hover,.button2:hover {

    background-color: #a6b8eb;

}

.deletebutton {

  margin-top: 4%;
  font-size: 300%;
}
.deletebutton:hover {
  background-color: #e01717;

}
.postd {

  overflow-wrap: break-word;   /* modern equivalent */
  white-space: normal;  
  margin: auto;
  width: 50%;
  border: solid;
  position: relative;
  margin-top: 7%;
}

#new-post{
    width: 300px;
    height: 100px;

}