<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="stylesheet" href="/static/mystyles.css">
    <title>Blog Site</title>
</head>

<body>

    <h1>Edit post</h1>
    <form action="/edit/{{ post.id }}" method="post">
        <label for="title">Title:</label>
        <textarea  name="title">{{ post.title }}</textarea>
        <label for="title">Content:</label>
        <textarea  name="newpost" id="new-post">{{ post.content }}</textarea>
        <input type="submit" value="Submit">
    </form> 
        



</body>
